body {
        color: #00000a;
        line-height: 1.3;
        font-weight: 400;
        font-size: 14px;
        font-family: 'Poppins', sans-serif;
        overflow-x: hidden !important;}
    
header{
   
    height: 5em;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0%;
    transition: background-color 0.2s ease-in-out;
    z-index: 100;
}

header nav img {
    width: 14%;
}



header.scrolled{
    background-color: white;
    opacity: 0.98;
    
}


header nav{
    padding: 1.5em 0 1.5em 5em;
}

header nav a{
    color:white;
    text-decoration: none;
    transition: color 0.4s ease-in-out;
    font-size: 13px;
    letter-spacing: 0.5px;
    margin: 15px 13px;
    position: relative;
    left: 66%;
    font-weight: bold;
}

header nav a:hover{
    color: #eee;
}

header.scrolled nav a {
    color: black;
    
}



.Landing{
    background-image: url(./a1.jpg);
    background-size: cover;
    padding: 305px 40px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 50px;
    margin-top: -6%;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 10%;

}


.row{
    padding: 113px 0px;
    text-align: center;
    color: rgb(7, 7, 7);
    font-size: 37px;
    margin-top: -13%;
    font-family: 'Raleway', sans-serif;
}



.animated-text {
        font-size: 75px;
        font-weight: bold;
        min-width: 280px;
        text-transform: uppercase;
        margin-top: 15px;
    }


.animated-text span{
    position: relative;
}

.animated-text span::before{
    content: "Success";
    color: #f24259;
    animation: words 4s infinite;

}

.animated-text span::after{
    content: "";
  
    width:calc(100% + 8px);
    height: 100%;
    right: -8px;
    animation: cursour .8s infinite, typing 20s steps(20) infinite ;
}

@keyframes cursor {
    to{
        border-left: 2px solid #2f3542;
    }
}


@keyframes words{
    0%,40%{
        content: "Success";
       
    }
    41%,80%{
        content: "Grow Up";
        
    }
    81%,100%{
        content: "Dream";
        
    }
}


@keyframes typing{
    10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
        width: 0;
    }
    5%,20%,25%,40%,45%,60%,65%,80%,85%{
        width: calc(100% + 8px);
    }
}






.buttons{
    position: absolute;
    top: 99%;
    left: 50%;
    transform: translate(-50%, -246%);
    text-align: center;
    

}

.button{
        background-color: #F24259;
        border: 1px solid #F24259;
        color: white;
        width: 160px;
        font-family: "montserrat", sans-serif;
        text-transform: uppercase;
        padding: 11px 15px;
        min-width: 100px;
        margin: 10px;
        cursor: pointer;
        transition: color 0,4s linear;
        position: relative;
        border-radius: 5px;
        font-size: 13px;
        font-weight: bold;
        letter-spacing: 1px;
    
}

.btn1{
    background: none;
    border: 1px solid white;
}
.btn1:hover{
    color: black;
}

.btn2:hover{
    color: black;
    z-index: 1;
}

.button::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin:0 0 ;
    transition-timing-function: cubic-bezier(0.5,1.6,0.4);
}



.btn1::before{
    transform: scaleX(0);
    width: 100%;
    background: white;
    border-radius: 4px;
}

.btn2::before{
    transform: scaleX(0);
    width: 50%;
    background: white;
    border-radius: 1px ;
    
}

.btn2:hover{
    border: 1px solid white;
}

.btn1:hover::before{
    transform: scaleX(1);
    
}
.btn2:hover::before{
    transform: scaleX(2);
}



.section-padding {
    padding: 100px 0;
}
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.extra-text {
    font-size: 29px;
    margin-bottom: 25px;
}
.section-head h4 {
    position: relative;
    padding: 0 554px 0 15px;
    line-height: 1;
    border-left: 1px solid #eee;
    letter-spacing: 2px;
    font-size: 38px;
    font-weight: 700;
}

.section-head h4:before {
    content: '';
    width: 1px;
    height: 35px;
    background: #F24259;
    position: absolute;
    left: -1px;
    bottom: 0;
}

.section-head h4 span {
    font-weight: 200;
    padding-bottom: 5px;
}

.mission p {
    margin-bottom: 30px;
}

p {
    font-size: 15px;
    color: #666;
    line-height: 1.6;
    word-spacing: 1px;
    margin: 0;
    font-weight: 600;
}

    
.icon-text {
    position: relative;
    right: 33%;
}

.icon-text i {
    
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: #F24259;
    border-radius: 50%;
    color: #fff;
    font-size: 25px;
}

.icon-text .small-text {
    margin-left: 10px;
    font-size: 13px;
    color: #666;
}



.skills {
    padding-top: 80px;
}

.skills .prog-item {
    margin-bottom: 25px;
}

.skills .prog-item p {
    font-weight: 600;
    font-size: 12px;
    margin-bottom: 8px;
}

.skills .prog-item .skills-progress {
    width: 100%;
    height: 2px;
    background: #eee;
    border-radius: 5px;
    position: relative;
}

.skills .prog-item .skills-progress span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: #F24259;
    width: 10%;
    border-radius: 10px;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.skills .prog-item .skills-progress span:after {
    content: attr(data-value);
    position: absolute;
    top: -20px;
    right: 0;
    font-size: 10px;
    color: #777;
}
.row .item {
    
    text-align: center;
    padding: 30px 15px;
    -webkit-box-shadow: 0px 5px 35px 0px rgba(148, 146, 245, 0.15);
    box-shadow: 0px 5px 35px 0px rgba(148, 146, 245, 0.15);
    border-radius: 5px;
    margin-bottom: 30px;
}

.row .item .icon {
    font-size: 50px;
    margin-bottom: 15px;
    color: #F24259;
    opacity: 1;
}

.bg-gray {
    background: #f7f7f7;
}

.row .item h6 {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 19px;
}



.quote p {
    font-size: 17px;
    font-style: italic;
    color: white;
    
}

.icon {
    font-size: 30px;
    margin: 0 15px;
    padding: 0;
    opacity: .3;
    line-height: 1;
    opacity: 1;
    color: white;
}

.quote h5 {
    color: #F24259;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    margin: 15px 0 10px;
}

.quote h6 {
    font-size: 12px;
    color: #ccc;
}

.portfolio .filtering .active {
    border-color: #F24259;
    color: #F24259;
}

.portfolio .filtering span {
    margin-right: 30px;
    color: #333;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    position: relative;
    right: 35%;
    bottom: 45%;
}
.clearfix::after {
    display: block;
    clear: both;
    content: "";
}
.portfolio .item-img {
    position: relative;
    overflow: hidden;
}
.portfolio .item-img-overlay {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    background: rgba(255, 255, 255, 0.95);
    color: #35424C;
    opacity: 0;
    -webkit-transition: all .5s;
    transition: all .5s;
    z-index: 2;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
}

.portfolio {
    overflow: hidden;
}

.section-padding {
    padding: 0px 0;
}
.section-head {
    margin-bottom: 80px;
}
.section-head h4 {
    position: relative;
    padding: 0 1103px 0 15px;
    line-height: 1;
    border-left: 1px solid #eee;
    letter-spacing: 2px;
    font-size: 38px;
    font-weight: 700;
}


.numbers {
    background-attachment: fixed;
}
.bg-img {
    background-size: cover;
    background-repeat: no-repeat;
}

.numbers .item .icon {
    font-size: 45px;
    margin-bottom: 10px;
    color: #ccc;
}
.numbers .item h2 {
    font-weight: 800;
    margin-bottom: 15px;
    color: white;
}
.numbers .item h6 {
    font-size: 16px;
    letter-spacing: 1px;
    color: #ccc;
}


.icons .icon1{
   color: white;
    position: relative;
    top: -186px; 
}

.icons h6{
    color:white;
    position: relative;
    top: -186px; 
    font-weight: 800;
    margin-bottom: 15px;
}

.icons h2{
    color:white;
    position: relative;
    top: -186px; 
    font-weight: 800;
    margin-bottom: 15px;
}

.icon2{
color: #F24259;
position: relative;
right: 100px;
}


.tabs{
    height: 600px;
      width:100%;
      background-image:url(img3.jpg);
      padding: 150px;
      filter: brightness(0.5);
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-position: center;
  }
  .parah{
      position: relative;
      bottom: 414px;
      right: 6px;
  }
  .content p{
      color:#eee; 
  }
  .itemspcial,
  .itembord{
      position: relative;
      top: 2px; 
  }

  .head1{
      position: relative;
      top: -2px;
      color:#fff;
  }
  
  .s-h{
      color: #fff;
      position: relative;
      top: -257px;
  }
  .pi{
      position: relative;
      top: -640px;
     
  }




.section-padding {
    padding: 100px 0;
}
.price .type h4 {
    font-size: 30px;
   font-weight: 800;
}

.price .value {
    padding: 30px 0;
    position: relative;
}
.price .value h3 {
    display: inline-block;
    padding-right: 10px;
    font-size: 30px;
    font-weight: 800;
    position: relative;
}

.features{
font-size: 20px;
word-spacing: 10px;
}
.per{
    font-size: 10px;
}
.my-button{
    background-color:#F24259;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s linear;
    border: 1px solid white;
    color:white;
    font-family: "montserrat", sans-serif;
    min-width: 100px;
    cursor: pointer;
    position: relative;
    border-radius: 11px;
    z-index: 2;
}
  .my-button:hover {
        color:#F24259;
    }
    
    .my-button::before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        z-index: -1;
        transition: transform 0.5s;
        transform-origin:0 0 ;
        transition-timing-function: cubic-bezier(0.5,1.6,0.4);
    }
    .my-button::before{
        transform: scaleX(0);
        width: 100%;
        background: white;
        border-radius: 9px;
    }

    .my-button:hover::before{
        transform: scaleX(1);
        
    }
    .features{
        font-size: 20px;
        word-spacing: 10px;
        
        }
        .features li{
            list-style: none;
        }
        
        .per{
            font-size: 10px;
        }
    
        img {
            width: 100%;
           }
          .date{
              background-color: #00000a;
              position: relative;
              font-size: 15px;
              display:inline-block;
              text-decoration: none;
              color: white;
              top: -212px;
              right: 100px;
              padding: 10px 15px;
              font-weight: 600;
            
          }
          
          .tag li{
          list-style: none;
          color:#F24259;
          font-size: 15px;
          font-weight: 600;
          }
          .content h5{
              font-size: 16px;
              color:black;
              font-weight: 600; 
          }
          
          .content p{
              font-size: 14px;
              color: #666;
              line-height: 1.6;
              word-spacing: 1px;
          } 

    .information .item {
        padding: 30px;
        background: rgba(70, 70, 70, 0.3);
        border-radius: 5px;
        cursor: pointer;
        color: white;
    }
    .information .info .item .icon {
        font-size: 45px;
        float: left;
        color: white;
    }
    .information .info .item .cont {
        margin-left: 60px;
    }
    .information .info .item .cont p {
        color:white;
    }
    .container-fluid {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
    .clients {
        padding: 30px 0;
    }
    .clients .brand {
        padding: 15px;
        opacity: .5;
        margin-bottom: -41%;
    margin-top: -30%;
    }
    footer {
        background: #111;
        padding: 64px 0;
    }

    footer .social a {
        color: #777;
        font-size: 18px;
        margin: 15px 10px;
    }


